#searchTicket{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#search-input{
    /*width: 50%;*/
    display: flex;
    color: black;
}

.btnSearch{
    display: none;
}


.searchInput{
    /*min-width: 340px;*/
}